*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: absolute;
    width: 100vw;
    height: 12vh;
    left: 0px;
    top: 0px;

    font-family: 'Roboto', sans-serif;

}

#logo{
    position: absolute;
    width: 31vw;
    height: 11.8vh;
    left: 0.44%;
    top: 0px;

    background: url(Anotação_2020-06-30_005935.jpg);
}

#logo2{

    position: absolute;
    width: 30.3vw;
    height: 12.7vh;
    left: 1.46%;
    top: 0.66%;

    background: url(Anotação_2020-06-30_005935-removebg-preview.png);

}

#titulo{

    position: absolute;
    width: 1222px;
    height: 81px;
    left: 72px;
    top: 253px;
    text-align: center;

    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 70px;

    color: #13070C;


}

#logoFundo{

    position: absolute;
    width: 1366px;
    height: 165px;
    left: 0px;
    top: 0px;

    background: #454E9E;

}

#tituloFundo{

    position: absolute;
    width: 1366px;
    height: 250px;
    left: 0px;
    top: 165px;

    background: rgba(255, 90, 95, 0.76);

}

#background{

    position: absolute;
    width: 1366px;
    height: 1749px;
    left: 0px;
    top: 415px;

    background: url(1976241.jpg);

}

#fotoJog{

    position: absolute;
    width: 100px;
    height: 100px;
    left: 257px;
    top: 437px;

    background: #C4C4C4;

}

#nome{

    position: absolute;
    width: 171px;
    height: 35px;
    left: 374px;
    top: 484px;

    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 29px;

    color: #13070C;
}

#nomeCriador{

    position: absolute;
    width: 256px;
    height: 31px;
    left: 374px;
    top: 519px;

    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 23px;

    color: #13070C;


}

#retangulo1{

    position: absolute;
    width: 852px;
    height: 344px;
    left: 257px;
    top: 630px;

    background: #454E9E;
    border-radius: 20px;

}



.pergunta{

   

    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 82px;
    text-align: center;

    color: #EFF9F0;


}

#pergunta1{

    position: absolute;
    width: 597px;
    height: 109px;
    left: 384px;
    top: 730px;
}

#resposta1{

    position: absolute;
    width: 770px;
    height: 92px;
    left: 298px;
    top: 1053px;

    background: #EFF9F0;

}

#retangulo2{

    position: absolute;
    width: 852px;
    height: 344px;
    left: 257px;
    top: 1274px;

    background: #454E9E;
    border-radius: 20px;

}

#pergunta2{

    position: absolute;
    width: 597px;
    height: 109px;
    left: 384px;
    top: 1391px;

}

#resposta2{

    position: absolute;
    width: 770px;
    height: 92px;
    left: 298px;
    top: 1697px;

    background: #EFF9F0;

}

#retangulo3{

    position: absolute;
    width: 852px;
    height: 344px;
    left: 257px;
    top: 1918px;

    background: #454E9E;
    border-radius: 20px;

}

#pergunta3{

    position: absolute;
    width: 461px;
    height: 169px;
    left: 452px;
    top: 2006px;

}

#resposta3{

    position: absolute;
    width: 836px;
    height: 119px;
    left: 265px;
    top: 2328px;

    background: #798478;
    border-radius: 20px;


}

#resposta4{

    position: absolute;
    width: 836px;
    height: 119px;
    left: 265px;
    top: 2481px;

    background: #798478;
    border-radius: 20px;

}