* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    font-family: 'Roboto', sans-serif;

}

body {
    width: 100vw;
    background-image: url(/imgs/background.svg);
}

.header {
    display: flex;
    position: absolute;
    width: 100vw;
    height: 165px;
    left: 0px;
    top: 0px;

    background: #454E9E;
}

.header .logo {
    position: absolute;
    width: 428px;
    height: 161px;
    left: 6px;
    top: 0px;

    background: url(/imgs/logo.jpeg);
}

.subHeader {
    position: absolute;
    width: 100vw;
    height: 250px;
    left: 0px;
    top: 165px;

    background: rgba(255, 90, 95);
}

.subHeader p {
    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: bold;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    margin-top: 80px;

    color: #13070C;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    box-sizing: border-box;
    position: absolute;
    width: 100vw;
    height: 100vw;
    z-index: 1;

    position: relative;
    width: 852px;
    height: 344px;
    left: 257px;
    top: 50px;

    margin-bottom: 550px;
}

.question {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 852px;
    height: 344px;
    left: 257px;
    top: 630px;

    background: #454E9E;
    border-radius: 20px;

    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 70px;
    line-height: 90px;
    text-align: center;
    vertical-align: middle;

    z-index: 1;


    color: #EFF9F0;

}

.answer {
    position: absolute;
    width: 770px;
    height: 92px;
    left: 298px;
    top: 1053px;

    border-style: solid;
    border-color: #798478;
    border-width: 10px 25px;
    border-radius: 20px;
    
    font-size: 20px;

    background: #EFF9F0;
}

.btn-grid {
    display: grid;
    gap: 10px;

    position: absolute;
    width: 770px;
    height: 92px;
    left: 298px;
    top: 1053px;
    z-index: 1;

    background: #EFF9F0;
}

.btn {
    width: 770px;
    height: 92px;
    border-style: none;

    background: #798478;
    border-radius: 20px;

    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 35px;
    line-height: 53px;
    vertical-align: middle;

    text-align: center;

    color: #13070C;
}

.btn:hover {
    border-color: black;
    border-style: solid;
}

.submitButton {
    position: absolute;
    width: 553px;
    height: 256px;
    left: 398px;
    top: 420px;
    
    background: #FF5A5F;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
    border-radius: 50px;

    /*font-family: Roboto;*/
    font-style: normal;
    font-weight: normal;
    font-size: 65px;
    line-height: 76px;
    text-align: center;

    color: #13070C;
}

@media (max-width: 470px) {

    body {
        width: 470px;
        background-image: url(/imgs/background.svg);
    }
    
    .subHeader p{
        /*font-family: Roboto;*/
        font-style: normal;
        font-weight: bold;
        font-size: 60px;
        line-height: 70px;
        text-align: center;
        margin-top: 20px;

        color: #13070C;
    }

    .header .logo, .container, .question, .answer, .btn-grid, .btn, .submitButton{
        width: 80vw;
        left: 20px;
        margin-top: 5px;
    }

    .question {
        font-size: 30px;
    }
    .btn {
        font-size: 20px;
    }

    .submitButton {
        font-size: 30px;
    }

}
